.main-page {
    max-width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  margin: 25vh auto;
  }


h1 {
    color: purple;
    font-family: Papyrus;
   // text-align: center;
    font-size: 90px;
}



.buttons { 
    margin-top: 20%;
}

