img { 
    width: '20px';
    height: '100px';
}



mat-card { 
    background-color:#807e9b ;
    align-items: center !important;
    justify-content: center!important;
}

.styleButton { 
    color: #807e9b;
    display: flex;
    position: fixed;
    margin-top: 15%;
}

